<!DOCTYPE html>
<html lang="en">
    {% extends 'base/main.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block 'content' %}
    <div class="header-bar">
        <a href="{% url 'task' %}">&#8592; Back</a>
    </div>
    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input class="button" type="submit" value="Submit">
        </form>
    </div> 
    {% endblock %}

    
</body>
</html>